<!-- Header -->
<header>
  <div class="container header-flex-grid">
    <div class="header-flex-row">
      <div class="header-flex-item profile">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic"/>
      </div>
      <div class="header-flex-item intro-text">
        <span class="greeting">Hello!</span>
        <span class="about-me">What's upppp. My name is Greg. And I'm going to type out a bunch of stuff. La la la la 
          and then I went to the store and I like to drive around and throw potatoes at students. I like to jump up and down
          and dance all over the floor. I dance so hard that there's stuff oozing out of all my holes. Boy do I just looveee 
          to dance so much I could just die. Remember meeee though I have to say goodbye. And I'm not sure what I'm going to
          do later today. 
        </span>
      </div>
    </div>
  </div>
</header>